.header-section{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}


@media screen and (max-width:320px) {
    .header-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:10px;
    }
    .input-section{
        width:200px;
    }
    .input-bar{
        padding:0px;
    }
    .cart-icon{
        font-size:x-large;

    }
    
}

